<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


 
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Tour de France Analytics</li>
          <li><a href="#">Queries</a></li>
          <li><a href="{{ url_for('patterns') }}"> Patterns </a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large primary">
      <div class="row column text-center">
        <h1>A look at the Tour de France</h1>
        <h2 class="subheader">Vineet Shenoy</h2>
      </div>
    </div>
    
    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Finding the winners by stage</h3>
        <br>
        <p> (Stage Number, Starting Location, Ending Location, Distance (km), Type)

        <form action="/fastest_time/" method="POST">
            <select name="stage_option" width="300px">
            {% for o in ftl %}
                <option value={{ o[0] }} SELECTED>{{ o[0], o[1], o[2], o[3], o[4] }}</option>
            {% endfor %}
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
            <select name="biodata" width="300px">
                <option value= "Age" SELECTED> Age </option>
                <option value= "Height" SELECTED> Height </option>
                <option value= "Weight" SELECTED> Weight </option>
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
            <select name="teamdata" width="300px">
                <option value= "Nationality" SELECTED> Nationality </option>
                <option value= "Team" SELECTED> Team </option>
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>


             <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <p>Directions: Use the drop down menus to select the parameters for the query. </p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>

      <div class="blog-post">
        <h3>Country Performance</h3>
        <br>
        <p> (Stage Number, Starting Location, Ending Location, Distance (km), Type)

        <form action="/fastest_time_country/" method="POST">
            <select name="stage_option" width="300px">
            {% for o in ftl %}
                <option value={{ o[0] }} SELECTED>{{ o[0], o[1], o[2], o[3], o[4] }}</option>
            {% endfor %}
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
            <select name="countries" width="300px">
            {% for n in nation %}
                <option value={{ n[0] }} SELECTED>{{ n[0] }}</option>
            {% endfor %}
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
            <select name="calcData" width="300px">
                <option value= "min" SELECTED> Minimum </option>
                <option value= "avg" SELECTED> Average </option>
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>


             <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>
    




      <div class="blog-post">
       <h3>Team Performance</h3>
        <br>
        <p> (Stage Number, Starting Location, Ending Location, Distance (km), Type)

        <form action="/avgmax_time_team/" method="POST">
            <select name="teams" width="300px">
                {% for t in teams %}
                <option value={{ t[0] }} SELECTED>{{ t[0] }}</option>
            {% endfor %}
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
            <select name="calcData" width="300px">
                <option value= "min" SELECTED> Minimum </option>
                <option value= "avg" SELECTED> Average </option>
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
                  


             <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <p>Directions: Use the drop down menus to select the parameters for the query. </p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>

      <div class="blog-post">
        <h3>Finding Calories Consumed by winner</h3>
        <br>
        <p> (Stage Number, Starting Location, Ending Location, Distance (km), Type)

        <form action="/calories_consumed/" method="POST">
            <select name="stage_option" width="300px">
            {% for o in ftl %}
                <option value={{ o[0] }} SELECTED>{{ o[0], o[1], o[2], o[3], o[4] }}</option>
            {% endfor %}
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
            <select name="biodata" width="300px">
                <option value= "Age" SELECTED> Age </option>
                <option value= "Height" SELECTED> Height </option>
                <option value= "Weight" SELECTED> Weight </option>
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>
            <select name="teamdata" width="300px">
                <option value= "Nationality" SELECTED> Nationality </option>
                <option value= "Team" SELECTED> Team </option>
            </select>
            <br>
            <b> --------------------------------------------------- </b>
            <br>


             <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>

      <div class="blog-post">
        <h3>Awesome blog post title <small>3/6/2015</small></h3>
        <img class="thumbnail" src="http://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


    