<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <select name="option" width="300px">
    {% for o in option_list %}
        <option value="{{ o[0] }}" SELECTED>{{ o[0] }}</option>
    {% endfor %}
    </select>
    <br>
    <b> --------------------------------------------------- </b>
    <br>
    <select name="option" width="300px">
        <option value= "Age" SELECTED> Age </option>
        <option value= "Height" SELECTED> Height </option>
        <option value= "Weight" SELECTED> Weight </option>
    </select>
    <br>
    <b> --------------------------------------------------- </b>
    <br>
    <select name="option" width="300px">
        <option value= "Nationality" SELECTED> Nationality </option>
        <option value= "Team" SELECTED> Team </option>
    </select>
    <br>
    <b> --------------------------------------------------- </b>
    <br>
    <form action="/forward/" method="post">
        <button name="forwardBtn" type="submit"> Submit Query </button>
    </form>
    
    <div id="footer">
      <table border="1" cellpadding="5" cellspacing="5">
      {% for row in tableDat %}
          <tr>
          {% for d in row %}
              <td>{{ d }}</td>
          {% endfor %}
          </tr>
      {% endfor %}
      </table>
    </div>
  </body>
</html>